<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <meta name="description" content="<%= pageDescription %>">
    <meta name="keywords" content="<%= pageKeywords %>">
    <link rel="canonical" href="<%= pageUrl %>">
    <meta property="og:title" content="<%= pageTitle %>">
    <meta property="og:description" content="<%= pageDescription %>">
    <meta property="og:image" content="<%= pageImage %>">
    <meta property="og:url" content="<%= pageUrl %>">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">


    <!-- CSS Links -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="/assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/css/animate.min.css" rel="stylesheet">
    <link href="/assets/css/validnavs.css" rel="stylesheet">
    <link href="/assets/css/helper.css" rel="stylesheet">
    <link href="/assets/css/unit-test.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
